.wrapText {
    float: right;
    margin: 10px;
    width: 25%;
    height: auto;
}
img {
    border: 3px dotted whitesmoke;
}
@media screen and (min-width: 980px){ /* Desktop */
    article {
        display: flex;
        flex-direction: row;
    }
    .blogg-text {
        padding-right: 10px;
    }
}

@media screen and (max-width: 979px){ /* Tablet */
    .wrapText {
        width: 50%;
        height: auto;
    }
}

@media screen and (max-width: 500px){ /* Mobile */
    .wrapText {
        width: 95%;
        height: auto;
    }
}