* {
    font-family: Verdana;
}

body {
    margin-bottom: 100px;
}

header {
    color: black;
    margin: 0px;
}
.background-color-standard {
    border: 3px dotted black;
    outline: outset grey;
    background-color: white;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    color: white;
    text-align: center;
}
article {
    border: 3px dotted whitesmoke;
    outline: outset whitesmoke;
    padding: 10px;
    margin: 20px;
}

.img-container {
    text-align: center;
}

/* unvisited link */
a:link {
    color: red;
}
  
/* visited link */
a:visited {
    color: green;
}
  
/* mouse over link */
a:hover {
    color: hotpink;
}
  
/* selected link */
a:active {
    color: blue;
}

.center {
    text-align: center;
}

.blogg-date {
    border-bottom: 1px solid;
}


@media screen and (min-width: 980px){ /* Desktop */
    body {
        background-image:url('background.jpg');
        background-size: 100% 100%;
    }
    .header-image {
        max-width: 25%;
        height: auto;
    }
    header {
        display: grid;
        grid-template-columns: 20% auto 20%;
    }
    .desktop-middle-header {
        justify-self: center;
    }
}

@media screen and (max-width: 979px){ /* Tablet */
    body {
        background-image: url('background.jpg');
        background-size: 100% auto;
    }
    .header-image {
        width: 35%;
        height: auto;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (max-width: 500px){ /* Mobile */
    body {
        background-image:url('background.jpg');
        background-size: 100% 100%;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-image {
        display: none;
    }
}
